*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.head{
    width: 100%;
    height: 847px;
    flex-shrink: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F4F5;
}
/* head */
.headtop{
    width: 1320px;
    height: 113px;
    margin-top: 30px;
    position: relative;
    background-color:#F4F4F5;

}
.headtop .icon1 i{
    height: 19px;
    width: 20px;
}
.headtop .logo p{
    color: var(--Dark, #000);
    font-family: AmstelvarAlpha;
    font-size: 28px;
 font-style: normal;
 font-weight: 400;
 line-height: normal;
}
.headtop .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -25px;
}
.headtop .icon2 p {
    width: 80px;
    height: 21px;
    color: var(--Black, #1E2832);
    font-feature-settings: 'clig' off, 'liga' off;
     font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin-left: 10px;
}
.headtop .icon2 {
    display: flex; 
    justify-content: flex-end;
    margin-top: -25px;
    position: absolute;
    right: 100px;
}
.headtop .icon3 p {
    width: 80px;
    height: 21px;
    color: var(--Black, #1E2832);
    font-feature-settings: 'clig' off, 'liga' off;
     font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin-left: 10px;
}
.headtop .icon3 {
    display: flex; 
    justify-content: flex-end;
    margin-top: -25px;
    position: absolute;
    right: -17px;
}
/* headbottom */
.bottom .line{
    height: 1px;
    width: 1320px;
    display: flex;
    margin-top: 20px;
    background-color: rgb(162, 160, 160);
}
.headtop .menu ul{
    display: flex;
    justify-content: space-between;
}
.headtop .menu ul li {
    display: flex;
    font-family: Roboto;
    font-size: 18px;
    margin-top: 40px;
}
/* main */
.con1{
    width: 1226px;
 height: 562px;
 flex-shrink: 0;
 background-color:#F4F4F5;
 margin-top: 80px;
 position: absolute;
 left: 231px;
}
.con1 .text h2{
    color: var(--Dark, #000);
    font-feature-settings: 'clig' off, 'liga' off;

 /* Body */
 font-family: Roboto;
 font-size: 74px;
 font-style: normal;
 font-weight: 300;
 line-height: 55px; /* 74.324% */
 text-transform: capitalize;
 width: 360px;
 height: 55px;
}
.con1 .text h3 {
    color: var(--Dark, #000);
 font-feature-settings: 'clig' off, 'liga' off;

 /* Paragraph - Larg */
 font-family: Roboto;
 font-size: 30px;
 font-style: normal;
 font-weight: 400;
 line-height: 55px; /* 183.333% */
 text-transform: capitalize;
 width: 682px;
 height: 119px;
 margin-top: 52px;
}
.con1 .text {
    margin-top: 70px;
}
.button{
    width: 223px;
    height: 72px;
    background-color: #000;
    margin-top: 66px;
}
.button i{
    color: white;
    font-size: 29px;
    margin-left: 20px;
}
.button i p{
    color: white;
    font-size: 29px;
 font-family: Roboto;
 display: inline-flex;
 margin-top: 19px;
 margin-left: 20px;
}
.con1 .img {

 position: absolute;
 left: 764px;
 top: 0;
}
.img img {
    border-radius: 160px 0px;
 background: url(<path-to-image>), lightgray 50% / cover no-repeat;
 width: 424px;
 height: 542px;
}
.con1 .backg {
    width: 420px;
 height: 540px;
 flex-shrink: 0;
 border-radius: 160px 0px;
 border: 2px solid var(--Dark-25, rgba(0, 0, 0, 0.25));
 position: absolute;
 left: 788px;
 top: 20px;
}
.cay1 {
    width: 195px;
    height: 262px;
    position: absolute;
    right: -9px;
    top: 366px;
    display: flex;
 transform: rotate(-10deg);
 padding: 0.064px 0.019px 0.028px 0.227px;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 flex-shrink: 0;
}
.cay2{
    width: 132.34px;
 height: 66.61px;
 transform: rotate(-10deg);
 flex-shrink: 0;
 position: absolute;
 left: 0px;
 top: 615px;

}
/* trang 2 */
.trang2 {
    width: 100%;
    height: 900px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
    position: relative;
}
.con2{
    width: 1320px;
    height: 900px;
    position: relative;
}
.flogo{
    height: 70px;
    width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shop1{
    margin-top: 90px;
    width: 1320px;
    height: 648px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}
.anhto {
    position: absolute;
    left: 0px;
}
.anhto img {
    width: 648px;
    height: 648px;
}
.shop1 .anhnho1 {
    position: absolute;
    top: 0px;
    margin-left: 650px;
}
.anhnho1 img {
    padding-left: 21px;
    padding-bottom: 19px;
}
/* box */
.boxout{
    width: 648px;
    height: 52px;
    transform: rotate(-90deg);
    flex-shrink: 0;
    color: var(--Dark, #000);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Body 2 */
    font-family: Roboto;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    position: absolute;
    left: -110px;
    top: 455px;
}
/* trang3 */
.trang3{
    width: 1320px;
    height: 1141px;
    margin-left: 225px;
    margin-bottom: 100px;
}
.head3 p{
    color: var(--Dark, #000);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

/* H2 */
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    width:707px ;
    height: 50px;
}
.head3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.body3{
    width: auto;
    height: 32px;
    background-color:white;
    margin-top: 35px;
    margin-bottom: 35px;
    position: relative;
   
}
.body3 .conbody {
    width: 373px;
    height: 22;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.conbody h2 {
    display: flex;
    width: 92px;
    height: 22px;
    justify-content: center;
    align-items: center;
    color: var(--Dark, #000);
    font-feature-settings: 'clig' off, 'liga' off;

    /* H6 */
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}
.conbody h3 {
    color: var(--Dark-50, rgba(0, 0, 0, 0.50));
    font-feature-settings: 'clig' off, 'liga' off;

/* H6 */
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}
.button3{
    width: 92px;
    height: 32px;
   position: absolute;
   right: 0;
   background-color: #000;
   top: 0;
   display: flex;
   align-items: center;
   justify-content: center;
}
.button3 p {
    color: var(--White, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;

/* Button - Small */
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin-left: 5px;
}
/* chỗ mua hàng */
.content {
    width: 312px;
    height: 478px;
    background-color: white;
    margin-bottom: 15px;
}
.coloumn-4 {
    width: calc(100% / 4);
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    
}
.coloumn {
    padding: 0 10px;
    margin-top: 9px;
}
/* trang4 */
.trang4{
    position: relative;
}
.nen4 {
    height: 776px;
    width: 211px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000;
}
.trang4 .t1 img{
  
 opacity: 0.08;
 opacity: 0.08;

}
.trang4 .t1 {
    position: absolute;
    width: 732px;
    height: 309px;
    flex-shrink: 0;
    top: 51px;
    right: -50px;
}
.trang4 .t2 {
    position: absolute;
    width: 191px;
    height: 81px;
    top: 244px;
    left: 1017.17px;
}
.trang4 .t3 {
    width: 504px;
    height: 187px;
    position: absolute;
    top: 369px;
    right: 333px;
}
.trang4 .t3 {
    color: #FFF;

 /* Paragraph */
 font-family: Roboto;
 font-size: 26px;
 font-style: normal;
 font-weight: 400;
 line-height: 40px; /* 153.846% */
 text-transform: capitalize;
}
.trang4 .t4 {
    display: inline-flex;
 padding: 19px 26px;
 justify-content: center;
 align-items: center;
 gap: 8px;
 position: absolute;
 bottom: 93px;
 right: 600px;
 background-color: white;
}
.trang4 .t4 p {
    color: var(--Black, #1E2832);
    font-feature-settings: 'clig' off, 'liga' off;
    
    /* Button - Larg */
    font-family: Roboto;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
/* trang5 */
.trang5{
    width: 1320px;
    height: 639px;
    margin-left: 225px;
    margin-top: 140px;
    position: relative;
}
.head5{
    width: 267px;
    height: 59px;
    display: flex;
    align-items: flex-start;
    background-color: white;
    justify-content: center;
    position: absolute;
    right: 526.5px;
}
.head5 p {
    color: var(--Dark, #000);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

/* H2 */
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}
 .body5 {
    width: 1320px;
    height: 32px;
    position: absolute;
    top: 94px;
    display: flex;
    align-items: center;
}
.body5 .menu5{
    width: 373px;
    height: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    background-color: white;
}
.body5 .menu5 h2  {
    color: var(--Dark, #000);
    font-feature-settings: 'clig' off, 'liga' off;

/* H6 */
    font-family: Open Sans;
 font-size: 16px;
 font-style: normal;
 font-weight: 600;
 line-height: normal;
 text-transform: capitalize;
}
.body5 .menu5 h3 {
    height: 22px;color: var(--Dark-50, rgba(0, 0, 0, 0.50));
    font-feature-settings: 'clig' off, 'liga' off;
    /* H6 */
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}
.button5 {
    width:93px ;
    height: 32px;
    background-color: #000;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button5 {
    color: var(--White, #FFF);
 font-feature-settings: 'clig' off, 'liga' off;

/* Button - Small */
 font-family: Open Sans;
 font-size: 16px;
 font-style: normal;
 font-weight: 400;
 line-height: normal;
 text-transform: capitalize;
}

.bot5{
    width: 1320px;
    height: 478px;
    position: absolute;
    top: 161px;
    
}
.coloumn-45 {
    width: calc(100% / 4);
}
.row5 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    
}
.coloumn-45 {
    padding: 0 10px;
    margin-top: 0px;
}
/* trang6 */
.trang6{
    width: auto;
    height: 754px;
    background-color:#F4F4F5;
    margin-top: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.con6{
    width: 1320px;
    height: 554px;
    background-color:#F4F4F5;
    position: relative;
}
.head6{
    width: 1013px;
    height: 59px;
    position: absolute;
    right: 153.5px;
}
.head6 p{
    color: var(--Dark, #000);
 text-align: center;
 font-feature-settings: 'clig' off, 'liga' off;

/* H2 */
 font-family: Roboto;
 font-size: 50px;
 font-style: normal;
 font-weight: 500;
 line-height: normal;
 text-transform: capitalize;
}
.body6{
    width: 1320px;
    height: 200px;
    position: absolute;
    top: 119px;
    display: inline-flex;
 justify-content: center;
 align-items: center;
 gap: 24px;
}
.bot6 .t6 {
    width: 707px;
    height: 59px;
    position: absolute;
    top: 389px;
    right: 306.5px;
}
.bot6 .t6 p{
    color: var(--Dark, #000);
 text-align: center;
 font-feature-settings: 'clig' off, 'liga' off;

/* H2 */
 font-family: Roboto;
 font-size: 50px;
 font-style: normal;
 font-weight: 500;
 line-height: normal;
 text-transform: capitalize;
}
.input6 .line1 {
    width: 643px;
    height: 2px;
    background-color: #000;
    position: absolute;
    bottom: 0px;
    left: 278px;
}
.input6 .line2{
    width: 91px;
    height: 2px;
    background-color: #000;
    position: absolute;
    bottom: 0px;
    left: 947px;
}
.input6 .emailinput {
    position: absolute;
    bottom: 13px;
    left: 293px;
}
.input6 .emailinput input{
    color: var(--Black-50, rgba(30, 40, 50, 0.50));
 font-feature-settings: 'clig' off, 'liga' off;
/* Input text */
 font-family: Roboto;
 font-size: 16px;
 font-style: normal;
 font-weight: 600;
 line-height: normal;
 text-transform: capitalize;
 border: none;
 background-color: #F4F4F5;
}
.input6 .button6 {
    width: 91px;
    height: 22px;
    background-color:#F4F4F5;
    position: absolute;
    bottom: 8px;
    left: 945px;
}
.input6 .button6 p {
    color: var(--Black, #1E2832);
 text-align: center;
 font-feature-settings: 'clig' off, 'liga' off; 

/* Button - Small */
 font-family: Open Sans;
 font-size: 16px;
 font-style: normal;
 font-weight: 400;
 line-height: normal;
 text-transform: capitalize;
}
/* trang7 */
.trang7 {
    width: 100%;
    height: 495px;
    position: relative;
}
.con7{
    width: 100%;
    height: 210px;
    margin-top: 146px;
    display: flex;
    position: relative;
}
.con7 .te1{
    width: 392px;
    height: 207px;
    position: absolute;
    left: 250px;
}
 .te1 .logo7 {
    color: var(--Dark, #000);
 font-family: AmstelvarAlpha;
 font-size: 28px;
 font-style: normal;
 font-weight: 400;
 line-height: normal;
 display: flex;
 align-items: center;
 justify-content: center;
 position: absolute;
 top: -5px;
 left: 0;
 }
 .te1 .tc1 p {
    color: var(--Black-75, rgba(30, 40, 50, 0.75));
 font-feature-settings: 'clig' off, 'liga' off;

/* Span 3 */
 font-family: Open Sans;
 font-size: 16px;
 font-style: normal;
 font-weight: 400;
 line-height: normal;
 text-transform: capitalize;
 }
 .te1 .tc1 {
 position: absolute;
 top: 30px;

/* Span 3 */
 font-family: Open Sans;
 font-size: 16px;
 font-style: normal;
 font-weight: 400;
 line-height: normal;
 text-transform: capitalize;
 margin-top: 30px;
 }
 .te1 .ic7 {
    height: 25px;
    width: 208px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
    left: 0px;
    
 }
 .te1 .ic7 img {
 width: 25px;
 height: 25px;
 }

 .con7 .te2 {
    width: 200px;
    height: 212px;
    flex-direction: column;
    position: relative;
    left: 702px;
 }
 .te2 .h3 {
    position: absolute;
    top: -5px;
 }
 .con7 .te2 h3 {
    color: var(--Dark, #000);
    font-feature-settings: 'clig' off, 'liga' off;
/* H6 */
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
 }
.con7 .te2 h4{
    color: var(--Black, #1E2832);
    font-feature-settings: 'clig' off, 'liga' off;
/* A 2 */
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    text-transform: capitalize;
}
.te2 .h4 {
    position: absolute;
    top: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.con7 .te3 {
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    position: absolute;
    left: 1034px;
}
.te3 .h37 {
    position: absolute;
    top: -5px;
}
.te3 .h37 h3 {
    color: var(--Dark, #000);
    font-feature-settings: 'clig' off, 'liga' off;

/* H6 */
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}
.te3 .h47 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    position: absolute;
    top: 30px;
}
.te3 .h47 h4 {
    color: var(--Black, #1E2832);
    font-feature-settings: 'clig' off, 'liga' off;

/* A 2 */
 font-family: Open Sans;
 font-size: 14px;
 font-style: normal;
 font-weight: 400;
 line-height: 24px; /* 171.429% */
 text-transform: capitalize;
}
.te4 {
    width: 199px;
    height: 212px;
    position: absolute;
    left: 1376px;
}
.te4 .h34{
    position: absolute;
    top: -5px;
}
.te4 .h34 h3{
    color: var(--Dark, #000);
    font-feature-settings: 'clig' off, 'liga' off;

/* H6 */
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}
.te4 .h44 h4 {
    color: var(--Black, #1E2832);
    font-feature-settings: 'clig' off, 'liga' off;

/* A 2 */
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    text-transform: capitalize;
}
.te4 .h44 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    position: absolute;
    top: 30px;
}
.bot7 {
    width: auto;
    height: 52px;
    background-color: #1E2832;
    position: relative;
    top: 85px;
    display: flex;
    align-items: center;
}
.bot7 .tbot7 {
    width: 137px;
    height: 22px;
    position: absolute;
    left: 250px;
}
.bot7 .tbot7 p{
    color: var(--White, #FFF);
 font-feature-settings: 'clig' off, 'liga' off;

/* Span 3 */
 font-family: Open Sans;
 font-size: 16px;
 font-style: normal;
 font-weight: 400;
 line-height: normal;
 text-transform: capitalize;
}
.bot7 .icc img {
    display: flex;
    align-items: center;
    position: absolute;
    left: 762px;
    top: 14px;
}
.bot7 .hbot7{
    width: 150px;
    height: 32px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 1440px;
}
.bot7 .hbot7 p {
    color: var(--White, #FFF);
  font-feature-settings: 'clig' off, 'liga' off;

/* Button - Small */
 font-family: Open Sans;
 font-size: 16px;
 font-style: normal;
 font-weight: 400;
 line-height: normal;
 text-transform: capitalize;
}
.bot7 .hbot7 i{
    color:white;
    margin-left: 5px;
}